<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<body class="container"> 
	<h1> Find Your Reps, But First Sign in! </h1> 
	 <form action="/signin" method="post" >
	 	username: <input type = "text" name = "username" placeholder="Username"> <br> 
	 	Password: <input type = "text" name = "password" placeholder="Password"> <br> 
		<input type="submit" value="Sign Up">
	</form>
</body>
